:root {
 --vermelho-muito-claro: hsl(0, 36%, 70%);
 --vermelho-claro:  hsl(0, 93%, 68%);
 --cinza-escuro: hsl(0, 6%, 24%);

 /* cores gradiente */

 --gradiente-um: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
 --grandiente-dois: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

 --fonte: font-family: 'Josefin Sans', sans-serif;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    width: 300px;
    height: 200px;
    padding: 10px;
    flex-direction: column;
}

.titulo {
    padding-bottom: 30px;
}

.input {

}

.imagem {
    margin-top: 50px;
    height: 500px;
    width: 400px;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}