:root {
 --vermelho-muito-claro: hsl(0, 36%, 70%);
 --vermelho-claro:  hsl(0, 93%, 68%);
 --cinza-escuro: hsl(0, 6%, 24%);

 /* cores gradiente */

 --gradiente-um: Linear, 135deg, hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
 --grandiente-dois: Linear, 135deg, hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

 --fonte: font-family: 'Josefin Sans', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
}

.caixa {
    position: relative;
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: relative;
    left: -100px;
    padding: 30px;
    height: 25px;
    width: 20%;
}

.we {
    color: var(--vermelho-muito-claro);
    font-weight: lighter;
}

.titulo {
    position: relative;
    left: -30px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    font-size: 50px;
    width: 45%;
}

.texto {
    top: 200px;
    padding-left: 30px;
    color: var(--vermelho-muito-claro);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    width: 60%;
}

.form {
    position: relative;
    margin: 5px 0;
    width: 300px;
}

.botao {
    position: relative;
    margin: 5px 0;
    width: 300px;
}

.input {
    margin: 20px 0 0 -10px;
    position: relative;
    right: 0;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: transparent;
    padding: 16px;
    border: 2px solid rgb(225, 224, 224);
    border-radius: 30px;
    width: 300px;
    outline: none;   
}

.button {
    position: absolute;
    right: -30px;
    bottom: 5px;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    padding: 13px;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    width: 80px;
    box-shadow: 5px 5px 10px rgb(195, 192, 192);
    align-self: center;
}

.button:hover {
    width: 85px;
    padding: 20px;
    bottom: 0;
}

.imagem_mobile {
    display: none;
}

.imagem {
    height: 450px;
    width: 350px;
}

.icones {
    position: relative;
    width: 300px;
    height: 65px;
}

.icone-erro {
    position: absolute;
    top: -65%;
    right: 20%;
    visibility: hidden;
}

.small {
    position: absolute;
    font-size: 12px;
    bottom: 72%;
    left: 2%;
    visibility: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.icones.erro input {
    border-color: #e74c3c; 
} 

.icones.erro i.icone-erro {
    color: #e74c3c; 
    visibility: visible;
}

.icones.erro small.small{
    visibility: visible;
    color: #c31a08;
}

.attribution { 
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: var(--vermelho-muito-claro);
}

@media(max-width: 500px) {
    .imagem {
        display: none;
    }

    .imagem_mobile {
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .titulo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 26px;
        margin-top: 25px;
        font-size: 32px;
        width: 100px;
        left: -55px;
        letter-spacing: 8px;
    }

    .texto {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        font-size: 12px;
        width: 150px;
    }

    .form {
        display: flex;
        
    }

    .input {
        font-size: 12px;
        padding: 10px;
        margin: 40px 0;
        left: 30px;
        width: 120px;
    }

    .button {
        width: 40px;
        height: 40px;
        bottom: -20px;
        right: 35px;
        padding: -100px;
    }

    .button:hover {
        width: 40px;
        height: 40px;
        bottom: -20px;
        right: 35px;
        padding: -100px;
    }

    .icones.erro input {
        border-color: #e74c3c; 
    } 

    .icone-erro {
        top: -75px;
        right: 140px;
    }

    .small {
        left: 32px;
        top: -40px;
    }

    footer {
        display: none;
    }
}   