:root {
 --vermelho-muito-claro: hsl(0, 36%, 70%);
 --vermelho-claro:  hsl(0, 93%, 68%);
 --cinza-escuro: hsl(0, 6%, 24%);

 /* cores gradiente */

 --gradiente-um: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
 --grandiente-dois: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

 --fonte: font-family: 'Josefin Sans', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
}

.imagem {
   
    background-size: contain;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}